<head>
<link href="./res/css/all.css" rel="stylesheet">
</head>
    <div class="sidebar">
      <div class="sidebar-inner">
        <div class="sidebar-logo">
          <div class="peers ai-c fxw-nw">
            <div class="peer peer-greed"><a class="sidebar-link td-n" href="index.html">
                <div class="peers ai-c fxw-nw">
                  <div class="peer">
                    <div class="logo"><img width="60px" src="./assets/static/images/logo.png" alt=""></div>
                  </div>
                  <div class="peer peer-greed">
                    <h5 class="lh-1 mB-0 logo-text">NMS</h5>
                  </div>
                </div>
              </a></div>
            <div class="peer">
              <div class="mobile-toggle sidebar-toggle"><a href="" class="td-n"><i class="ti-arrow-circle-left"></i></a></div>
            </div>
          </div>
        </div>
        <ul class="sidebar-menu scrollable pos-r">
          <li class="nav-item mT-30 active"><a class="sidebar-link" href="/"><span class="icon-holder"><i class="fas fa-home"></i></span><span class="title">Dashboard</span></a></li>
          <li class="nav-item"><a class="sidebar-link" href="/users"><span class="icon-holder"><i class="fas fa-user"></i></span><span class="title">Users</span></a></li>
          <li class="nav-item"><a class="sidebar-link" href="/gis"><span class="icon-holder"><i class="fas fa-map"></i></span><span class="title">GIS</span></a></li>
          <li class="nav-item"><a class="sidebar-link" href="/fault"><span class="icon-holder"><i class="fas fa-bug"></i></span><span class="title">Faults</span></a></li>
          <li class="nav-item"><a class="sidebar-link" href="/performance"><span class="icon-holder"><i class="fas fa-server"></i></span><span class="title">Performance</span></a></li>
        </ul>
      </div>
    </div>
